<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Past Perfect</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<header class="container" th:insert="blocks/header :: header"></header>

<main>
    <header class="container" th:insert="blocks/perfect :: pastPerfect"></header>
    <div class="container mt-5" th:switch="${phrases}">
        <div><span class="btn-outline-info">*</span> Вопросительное предложение в Past Perfect образуется по следующей
            формуле: вспомогательный глагол <b><i>had</i></b> ставится в начало предложения перед подлежащим.<br>
            <b><i>Had + I / She / He / It / We / You / They + V3 : Had he passed his exam?</i></b><br>
            Специальные вопросы образуются при помощи <b><i>question words</i></b> (вопросительных слов). Таких, как <b><i>when(когда),
            what (что), where (где)</i></b> и других. Далее идет такой же порядок слов, как и в обычном вопросе Past Perfect.<br>
            <b><i>QW + had + I / She / He / It / We / You / They + V3 : What had I done?</i></b>
            <hr>
        </div>
        <br>
        <h5 th:case="null">Нет записанных фраз!</h5>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Русский</th>
                    <th></th>
                    <th>English</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="phrase : ${phrases}">
                    <div th:if="${user == phrase.getUser}">
                        <td th:field="${phrase.id}" type="hidden"></td>
                        <td th:text="${phrase.rusPhrase}"></td>
                        <td><span> - </span></td>
                        <td th:text="${phrase.engPhrase}" class="fst-italic"></td>
                        <td><a th:href="@{questionsCreate/{id}(id=${phrase.id})}" title="Изменить фразу"
                               class="w-100 btn btn-outline-info">Edit</a></td>
                        <td></td>
                        <td><a th:href="@{delete_phrase/questionsCreate/{id}(id=${phrase.id})}" title="Удалить фразу"
                               class="w-100 btn btn-outline-info">Delete</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/perfect/pastPerfect/questionsCreate}" class="w-10 btn btn-outline-info">Добавить фразу</a></p>
    </div>
</main>
<div class="container mt-5" th:insert="blocks/footer :: footer"></div>
</body>
</html>