<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>English</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header class="container" th:insert="blocks/header :: header"></header>
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Уровень A0</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Beginner</li>
                        <li>Начальный</li>
                        <li>Самые азы. Основы языка</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы A0</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Уровень A1</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Beginner</li>
                        <li>Начальный</li>
                        <li>Самые азы. Основы языка</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы A1</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Уровень A2</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Beginner</li>
                        <li>Начальный</li>
                        <li>Самые азы. Основы языка</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы A2</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Уровень B1</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Beginner</li>
                        <li>Начальный</li>
                        <li>Самые азы. Основы языка</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы B1</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Уровень B2</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Lower intermediate</li>
                        <li>Слабый средний уровень</li>
                        <li>Пороговый уровень</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы B2</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Уровень C1</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Advanced</li>
                        <li>Продвинутый уровень</li>
                        <li>Уровень приближенный к носителям языка</li>
                    </ul>
                    <form method="get" action="/A0">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Записать фразы C1</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="container" th:insert="blocks/footer :: footer"></div>
</body>
</html>