<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>English</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<header class="container" th:insert="blocks/header :: header"></header>

<div class="container mt-2" th:if="${errorMessage}">
    <p class="btn-outline-info" th:text="${errorMessage}"/>
</div>
<div class="container mt-2" th:if="${param.logout}">
    <p class="btn-outline-info" Вы вышли из системы./>
</div>

<form th:action="@{/registration}" method="post">
<!--    <input type="hidden" name="id">-->
    <div class="container mt-2"><label> Имя пользователя : <input type="text" name="name"/> </label></div>
    <div class="container mt-2"><label> E-mail : <input type="email" name="email"/> </label></div>
    <div class="container mt-2"><label> Номер телефона : <input type="text" name="phoneNumber"/> </label></div>
    <div class="container mt-2"><label> Пароль : <input type="password" name="password"/> </label></div>
    <div class="container mt-2"><input type="submit" class="w-10 btn btn-outline-info" value="Зарегистрироваться"/></div>
    <div class="container mt-2"><a href="/login" class="btn-outline-info">Вход</a></div>
</form>
<div class="container" th:insert="blocks/footer :: footer"></div>
</body>
</html>