<div th:fragment="pastContinuous">
    <footer class="pt-4 my-md-5">
        <a th:href="@{/continuous/pastContinuous/pastContinuous}" class="w-100 btn btn-lg btn-outline-info">English Past Continuous</a>
        <div>
            <b>Past Continuous</b> — это прошедшее длительное время, которое указывает на событие или процесс,
            длившийся в определенный период времени в прошлом. Причем, этот момент в прошлом обязательно должен быть указан.
        </div>
    </footer>
</div>

<div th:fragment="presentContinuous">
    <footer class="pt-4 my-md-5">
        <a th:href="@{/continuous/presentContinuous/presentContinuous}" class="w-100 btn btn-lg btn-outline-success">English Present Continuous</a>
        <div>
            <b>Present Continuous</b> — (или Present Progressive Tense) переводится с английского языка как «настоящее длительное время».
            В английской речи оно употребляется наравне с Present Simple, с той же частотой, и занимает важное место в грамматике.
            Используется, когда требуется подчеркнуть длительность действия в настоящем.
        </div>
    </footer>
</div>

<div th:fragment="futureContinuous">
    <footer class="pt-4 my-md-5">
        <a th:href="@{/continuous/futureContinuous/futureContinuous}" class="w-100 btn btn-lg btn-outline-warning">English Future Continuous</a>
        <div>
            <b>Future Continuous</b> — Это длительное будущее время в английском языке. Как и другие времена группы Continuous,
            оно указывает на продолжительное действие, которое происходит в определенный момент времени. В данном случае — в будущем.
            В отличие от Future Simple (простого будущего времени), в Future Continuous время действия в будущем указывается конкретно
            (в пять часов; с четверга по воскресенье; на протяжении недели и т.д.) или должно подразумеваться из контекста.
        </div>
    </footer>
</div>