<div th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Дополнительные материалы</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Главная</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">О сайте</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/map">Карта Google</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <div style="text-align: center;"><small class="d-block mb-3 text-muted">© 2022</small></div>
            </div>
        </div>
    </footer>
</div>