<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <span><img src="https://уц-результат.рф/img/ico/64x64/england.svg" width="30px"></span>
<!--                <a href="/" class="me-3 py-2 text-dark text-decoration-none">Английский с нуля</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">О проекте</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Темы</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Разговорные фразы</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Словарь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>