<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a href="/"><img src="https://уц-результат.рф/img/ico/64x64/england.svg" width="30px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">О сайте</a>
                        </li>
                    </ul>
                </div>
                <div th:if="${user.email}">
                    <form th:action="@{/logout}" method="post">
                        <input class="w-10 btn btn-outline-info" type="submit" value="Выйти">
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>