<div th:fragment="pastPerfectCont">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfectCont/pastPerfectCont/pastPerfectCont}" class="w-100 btn btn-lg btn-outline-info">English
            Past Perfect Continuous</a>
        <div>
            <b>Past Perfect Continuous</b> — Употребление Past Perfect Continuous в английском языке требует знания
            определенных правил. Как правило, это время используют для обозначения действий или событий, которые
            начались в прошлом, длились в течение определенного периода времени и завершились к моменту начала другого
            события или действия. Также может обозначать действие, которое длилось в течение какого-то периода времени в
            прошлом и завершилось с определенным результатом. В этому случае обычно указывается продолжительность
            действия.
        </div>
    </footer>
</div>

<div th:fragment="presentPerfectCont">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfectCont/presentPerfectCont/presentPerfectCont}" class="w-100 btn btn-lg btn-outline-success">English
            Present Perfect Continuous</a>
        <div>
            <b>Present Perfect Continuous</b> — настоящее длительное совершенное время. Употребление Present Perfect
            Continuous
            уместно для выражения действий, которые начались в прошлом и длились до до сих пор. Это время используется в
            речи сравнительно нечасто, но тем не менее есть случаи, в которых обойтись без него не получится. Правильное
            употребление предложений в Present Perfect Continuous подтверждает высокий уровень знаний языка говорящего.
        </div>
    </footer>
</div>

<div th:fragment="futurePerfectCont">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfectCont/futurePerfectCont/futurePerfectCont}" class="w-100 btn btn-lg btn-outline-warning">English
            Future
            Perfect Continuous</a>
        <div>
            <b>Future Perfect Continuous</b> — это время указывающее на действие, которое началось и продолжалось в
            течение определенного времени до какого-то момента в будущем. Это действие может закончиться в указанному
            моменту в будущем, а может продолжаться и дальше. Но главный акцент все-таки ставится на том, как долго
            продолжается действие.

            Если выразиться проще, то использовать Future Perfect Continuous надо в случаях, когда мы говорим о каком-то
            продолжительном действии, которое к определенному моменту в будущем будет продолжаться какое-то время.
        </div>
    </footer>
</div>