<div th:fragment="pastPerfect">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfect/pastPerfect/pastPerfect}" class="w-100 btn btn-lg btn-outline-info">English Past
            Perfect</a>
        <div>
            <b>Past Perfect</b> — это прошедшее совершенное время в английском языке. Оно употребляется в случаях, когда
            мы рассказываем о каком-то действии, которое уже закончилось к определенному моменту времени в прошлом (или
            перед началом другого действия в прошлом). При этом, точный момент окончания действия в прошлом может
            указываться, а может быть и опущен (но обязательно подразумевается из контекста).
        </div>
    </footer>
</div>

<div th:fragment="presentPerfect">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfect/presentPerfect/presentPerfect}" class="w-100 btn btn-lg btn-outline-success">English
            Present Perfect</a>
        <div>
            <b>Present Perfect</b> — это настоящее совершенное время в английском языке. Оно обозначает действие,
            которое завершилось в настоящий момент времени. В этом и состоит основная сложность времени Present Perfect
            для изучающих. В русском языке нет времени аналогичного Present Perfect. Для нас если что-то происходит
            сейчас — это и есть настоящее, а если совершилось — это уже прошлое. По логике носителей языка, действие
            вполне может закончиться и в настоящем или близко к настоящему моменту. Для выражения такой связи прошлого с
            настоящим и существует Present Perfect.
        </div>
    </footer>
</div>

<div th:fragment="futurePerfect">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/perfect/futurePerfect/futurePerfect}" class="w-100 btn btn-lg btn-outline-warning">English Future
            Perfect</a>
        <div>
            <b>Future Perfect</b> — это будущее совершенное время в английском языке. Оно используется для описания
            действия, которое завершится до определенного момента в будущем.
        </div>
    </footer>
</div>