<div th:fragment="pastSimple">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/simple/pastSimple/pastSimple}" class="w-100 btn btn-lg btn-outline-info">English Past Simple</a>
        <div>
            <b>Past Simple</b> — простое прошедшее время, которое описывает ситуации,
            имевшие место до момента речи или до момента, описываемого в речи.
        </div>
    </footer>
</div>

<div th:fragment="presentSimple">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/simple/presentSimple/presentSimple}" class="w-100 btn btn-lg btn-outline-success">English Present Simple</a>
        <div>
            <b>Present Simple</b> — простое настоящее время, обозначающее действие в самом широком смысле этого слова.
            Одна из самых распространенных и простых форм в английском языке для описания действий.
            Действия могут быть связаны с привычками, хобби, ежедневным событием вроде подъема по утрам или чем-то, что случается регулярно.
        </div>
    </footer>
</div>

<div th:fragment="futureSimple">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <a th:href="@{/simple/futureSimple/futureSimple}" class="w-100 btn btn-lg btn-outline-warning">English Future Simple</a>
        <div>
            <b>Future Simple</b> — это простое будущее время в английском языке. Мы используем Future Simple,
            чтобы высказать предположения о будущем или о событиях,
            которые точно произойдут и на которые мы не можем повлиять.
            А также, для обещаний, угроз, предупреждений и предостережений.
        </div>
    </footer>
</div>