<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Present Continuous</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<header class="container" th:insert="blocks/header :: header"></header>
<main>
    <header class="container" th:insert="blocks/continuous :: presentContinuous"></header>
    <div class="container mt-5" th:switch="${phrases}">
        <div><span class="btn-outline-success">*</span> В утвердительных предложениях подлежащее занимает первое место,
            сказуемое — второе. В Present Continuous сказуемое составляют вспомогательный глагол
            <b><i>to be</i></b> и основной (смысловой) глагол, который выражает действие.
                <b><i>To be</i></b> принимает нужную форму <b><i>(am, is, are)</i></b> в зависимости от подлежащего,
            а основной глагол приобретает окончание <b><i>-ing.</i></b><br>
            <b><i>I am + глагол-ing : I am singing</i></b><br>
            <b><i>He/She/It is + глагол-ing : He is smiling</i></b><br>
            <b><i>We/You/They are + глагол-ing : We are listening</i></b>
            <hr>
        </div><br>
        <h5 th:case="null">Нет записанных фраз!</h5>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Русский</th>
                    <th></th>
                    <th>English</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="phrase : ${phrases}">
                    <div th:if="${user == phrase.getUser}">
                        <td th:field="${phrase.id}" type="hidden"></td>
                        <td th:text="${phrase.rusPhrase}"></td>
                        <td><span> - </span></td>
                        <td th:text="${phrase.engPhrase}" class="fst-italic"></td>
                        <td><a th:href="@{affirmativeCreate/{id}(id=${phrase.id})}" title="Изменить фразу" class="w-100 btn btn-outline-success">Edit</a></td>
                        <td></td>
                        <td><a th:href="@{delete_phrase/affirmativeCreate/{id}(id=${phrase.id})}" title="Удалить фразу" class="w-100 btn btn-outline-success">Delete</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/continuous/presentContinuous/affirmativeCreate}" class="w-10 btn btn-outline-success">Добавить фразу</a></p>
    </div>
</main>
<div class="container mt-5" th:insert="blocks/footer :: footer"></div>
</body>
</html>