<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Future Perfect</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<header class="container" th:insert="blocks/header :: header"></header>
<main>
    <header class="container" th:insert="blocks/perfect :: futurePerfect"></header>
    <div class="container mt-5" th:switch="${phrases}">
        <div><span class="btn-outline-warning">*</span> <b>В утвердительных предложениях</b> Future Perfect образуется при
            помощи <b><i>will</i></b> и <b><i>have +</i></b> третья форма глагола <b><i>(V3).</i></b><br>
            <b><i>I / We + will (shall) + have V3 : I will have done this work by 8 o’clock</i></b><br>
            <b><i>She / He / It / You / They + will + have V3 : They will have found the new investor by next month</i></b><br>
            Сокращение: <br>
            <b><i>will have/shall have = ‘ll have</i></b>
            <hr>
        </div>
        <br>
        <h5 th:case="null">Нет записанных фраз!</h5>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Русский</th>
                    <th></th>
                    <th>English</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="phrase : ${phrases}">
                    <div th:if="${user == phrase.getUser}">
                        <td th:field="${phrase.id}" type="hidden"></td>
                        <td th:text="${phrase.rusPhrase}"></td>
                        <td><span> - </span></td>
                        <td th:text="${phrase.engPhrase}" class="fst-italic"></td>
                        <td><a th:href="@{affirmativeCreate/{id}(id=${phrase.id})}" title="Изменить фразу"
                               class="w-100 btn btn-outline-warning">Edit</a></td>
                        <td></td>
                        <td><a th:href="@{delete_phrase/affirmativeCreate/{id}(id=${phrase.id})}" title="Удалить фразу"
                               class="w-100 btn btn-outline-warning">Delete</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/perfect/futurePerfect/affirmativeCreate}" class="w-10 btn btn-outline-warning">Добавить
            фразу</a></p>
    </div>
</main>
<div class="container mt-5" th:insert="blocks/footer :: footer"></div>
</body>
</html>